# Data Extraction

In [2]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [6]:
rows=[]
base_dir='data/t20s'
for file in tqdm(os.listdir(base_dir)):
    file_path=os.path.join(base_dir,file)

    with open(file_path,'r') as f:
        data=safe_load(f)

    info =data.get("info",{})
    outcome=info.get("outcome",{})
    toss=info.get("toss",{})

    rows.append({
        "match_id":file.replace(".yaml",""),

        "dates":info.get("dates"),
        "gender":info.get("gender"),
        "match_type":info.get("match_type"),
        "winner":outcome.get("winner"),
        "overs":info.get("overs"),
        "player_of_the_match": info.get("player_of_the_match"),
        "teams":info.get("teams"),
        "toss_decision":toss.get("decision"),
        "toss_winner":toss.get("winner"),
        "umpires":info.get("umpires"),
        "venue":info.get("venue"),
        "city":info.get("city"),

        "innings":data.get("innings")
    })

df=pd.DataFrame(rows)
df.head()

100%|██████████████████████████████████████████████████████████████████████████████| 4801/4801 [39:39<00:00,  2.02it/s]

,match_id,dates,gender,match_type,winner,overs,player_of_the_match,teams,toss_decision,toss_winner,umpires,venue,city,innings
0,1001349,[2017-02-17],male,T20,Sri Lanka,20,None,"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,None,"[{'1st innings': {'team': 'Australia', 'delive..."
1,1001351,[2017-02-19],male,T20,Sri Lanka,20,None,"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",Victoria,"[{'1st innings': {'team': 'Australia', 'delive..."
2,1001353,[2017-02-22],male,T20,Australia,20,None,"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,None,"[{'1st innings': {'team': 'Australia', 'delive..."
3,1004729,[2016-09-05],male,T20,Hong Kong,20,None,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",Londonderry,"[{'1st innings': {'team': 'Hong Kong', 'delive..."
4,1007655,[2016-06-18],male,T20,Zimbabwe,20,None,"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,None,"[{'1st innings': {'team': 'Zimbabwe', 'deliver..."

In [7]:
os.makedirs("data",exist_ok=True)
df.to_pickle("data/raw_df.pkl")